* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {

    font-family: Arial, Helvetica, sans-serif;

    min-height:100vh;

    background:
    radial-gradient(circle at top left,#334155,#020617);

    display:flex;

    justify-content:center;

    align-items:center;

}


.login-wrapper {

    width:900px;

    min-height:520px;

    background:#050505;

    border-radius:20px;

    display:flex;

    overflow:hidden;

    box-shadow:
    0 25px 60px rgba(0,0,0,.5);

}


/* LEFT */

.welcome-section {

    flex:1;

    padding:70px 60px;

    color:white;

}


.logo {

    font-size:35px;

    margin-bottom:50px;

}


.welcome-section h1 {

    font-size:42px;

    letter-spacing:3px;

    margin-bottom:25px;

}


.welcome-section p {

    color:#94a3b8;

    line-height:1.6;

}


.line {

    width:250px;

    height:80px;

    margin-top:60px;

    border-bottom:2px solid #334155;

}


/* LOGIN */

.login-card {

    width:380px;

    margin:40px;

    padding:40px;

    background:

    rgba(255,255,255,.05);

    backdrop-filter:blur(15px);

    border-radius:15px;

    color:white;

}


.login-header {

    text-align:center;

    margin-bottom:35px;

}


.login-header h2 {

    font-size:28px;

    margin-bottom:10px;

}


.login-header p {

    color:#94a3b8;

}


/* INPUT */

.form-group {

    margin-bottom:20px;

}


.form-group label {

    display:block;

    margin-bottom:8px;

    color:#cbd5e1;

}


.form-group input {

    width:100%;

    padding:14px;

    border-radius:10px;

    border:1px solid #334155;

    background:#111827;

    color:white;

}


.password-wrapper {

    position:relative;

}


.password-wrapper input {

    padding-right:45px;

}


.toggle-password {

    position:absolute;

    right:10px;

    top:50%;

    transform:translateY(-50%);

    border:none;

    background:none;

    cursor:pointer;

}


/* BUTTON */

.btn-login {

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:white;

    color:#020617;

    font-weight:bold;

    cursor:pointer;

    margin-top:10px;

}


.btn-login:hover {

    background:#cbd5e1;

}


.secure-text {

    text-align:center;

    margin-top:25px;

    font-size:12px;

    color:#64748b;

}


.alert-error {

    background:#7f1d1d;

    padding:10px;

    border-radius:8px;

    margin-bottom:20px;

}

/* ======================
   DASHBOARD
====================== */


.dashboard-wrapper {

    min-height:100vh;

    background:
    radial-gradient(circle at top left,#334155,#020617);

}



.dashboard-nav {

    height:80px;

    padding:0 60px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(15px);

    color:white;

}



.brand {

    font-size:22px;

    font-weight:bold;

}



.logout-btn {

    text-decoration:none;

    color:white;

    background:#dc2626;

    padding:12px 25px;

    border-radius:10px;

    transition:.3s;

}


.logout-btn:hover {

    background:#ef4444;

}



.dashboard-main {

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:calc(100vh - 80px);

}



.dashboard-card {


    width:500px;

    padding:45px;

    text-align:center;


    background:

    rgba(255,255,255,.08);


    backdrop-filter:blur(20px);


    border-radius:25px;


    color:white;


    box-shadow:

    0 20px 60px rgba(0,0,0,.4);


}



.profile-icon {


    width:90px;

    height:90px;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#111827;

    font-size:40px;

}



.dashboard-card h1 {

    margin-top:25px;

    font-size:32px;

}



.dashboard-card p {

    color:#cbd5e1;

    margin:15px 0 30px;

}



.account-box {


    background:rgba(255,255,255,.1);

    padding:20px;

    border-radius:15px;


}



.account-box span {

    display:block;

    color:#94a3b8;

    margin-bottom:8px;

}



.account-box strong {

    font-size:18px;

}